/* Changes I made:
1) Bundle some rules.
2) Use CSS variables for consistent colors and easy updates
3) Remove unnecessary CSS selectors to keep code DRY
4) Use CSS shorthand properties
6) Use animation shorthand properties */

/* SECTION 1: STYLES FOR PRESENTATION */
* {
  box-sizing: border-box;
}
body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  width: 60%;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.main-container h1 {
  font-size: 3em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* SECTION 2: STYLE FOR THE MAIN CONTAINER*/

#carousel ul {
  width: 500px;
  height: 300px;
  overflow: hidden;
  padding: 0;
}

#image1,
#image2,
#image3 {
  top: 100%;
  width: 100%;
  height: 100%;
  margin: 0;

  position: relative;
  animation: translation2 6s infinite;
}

/* For image2, image3 */
@keyframes translation2 {
  0% {
    transform: translateY(0%);
  }
  33% {
    transform: translateY(-100%);
  }
  66% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(-300%);
  }
}
