/* SECTION 1: STYLES FOR PRESENTATION */

* {
  box-sizing: border-box;
}
body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  background-color: aliceblue;
  width: 60%;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container h1 {
  font-size: 3em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#carousel ul li {
  background-color: aliceblue;
}

#carousel ul li img {
  width: 100%;
  height: 100%;
  margin: 0;
}
/* SECTION 2: STYLE FOR THE MAIN CONTAINER*/

#carousel ul {
  width: 500px;
  height: 300px;
  overflow: hidden;
  padding: 0;
}

/* SECTION 3: STYLES AND INDICATIONS (FOR THE ANIMATION) 
FOR THE SLIDES */
#image1 {
  position: relative;
  animation-name: translation1;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

#image2,
#image3 {
  position: relative;
  animation-name: translation2;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

/* SECTION 4: DEFINITIONS OF THE @keyframes */

/* For image1 */
@keyframes translation1 {
  33% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

/* For image2, image3  */
@keyframes translation2 {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(-100%);
  }
  66% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(-300%);
  }
}
